<app-navbar-admin></app-navbar-admin>
<div class="container">
    <div class="titre">Cataloge</div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="scoler">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Dans</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of cat" >
                            <td>{{c._id}}</td>
                            <td>{{c.name}}</td>
                            <td *ngIf="c.dans==1">Canapés</td>
                            <td *ngIf="c.dans==2">Salle à manger</td>
                            <td *ngIf="c.dans==3">chambre à coucher</td>
                            <td *ngIf="c.dans==4">bureau</td>
                            <td *ngIf="c.dans==5">meuble</td>
                            <td>

                                <span class="delete" (click)="delete(c._id)">
                                    <mat-icon>delete</mat-icon>
                                </span>
                                <span (click)="edit(c._id)">
                                    <mat-icon>edit</mat-icon>
                                </span>
                            </td>
                        </tr>
                 

                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-6">
            <form class="row g-3">
                <div class="row" id="con">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email" class="form-label">
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-icon>category</mat-icon>
                                    </div>
                                    <div class="col"><strong>Nom de Cataloge</strong></div>
                                </div>
                            </label>
                            <input type="text" required class="form-control" name="name" [(ngModel)]="name">
                        </div>
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email" class="form-label">
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-icon>category</mat-icon>
                                    </div>
                                    <div class="col"><strong>Choisir le nav</strong></div>
                                </div>
                            </label>
                            <select required class="form-control" name="selected" [(ngModel)]="selected">
                                
                                <option  class="text-uppercase" value="1">Canapés</option>
                                <option  class="text-uppercase" value="2">Salle à manger</option>
                                <option  class="text-uppercase" value="3">chambre à coucher</option>
                                <option  class="text-uppercase" value="4">bureau</option>
                                <option  class="text-uppercase" value="5">meuble</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                        <div class="botn">
                            <button mat-raised-button (click)="ajout()">Ajouter</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>