<app-header></app-header>
<div class="container">
    <div class="main-body">
        <button id="xx" (click)="clean()">
            <mat-icon>
                <div id="x">clear</div>
            </mat-icon>
        </button>
        <h2>Modification</h2>
        <form class="row g-3" >

            <div class="row" id="con">



                <div class="col-md-12">
                    <div class="form-group">
                        <hr>
                        <label for="username" class="form-label">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-icon>account_circle</mat-icon>
                                </div>
                                <div class="col"><strong>Identifiant</strong></div>
                            </div>
                        </label>
                        <input required type="text"  class="form-control" id="username">

                    </div>
                </div>



                <div class="col-md-12">
                    <div class="form-group">
                        <hr>
                        <label for="pass" class="form-label">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-icon>https</mat-icon>
                                </div>
                                <div class="col"><strong>Mot de passe</strong></div>
                            </div>
                        </label>
                        <input required type="password"  class="form-control" id="pass">



                    </div>
                </div>



                <div class="col-md-6">
                    <div class="form-group">
                        <hr>
                        <label for="prenom" class="form-label">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-icon>perm_identity</mat-icon>
                                </div>
                                <div class="col"><strong>Prénom</strong></div>
                            </div>
                        </label>
                        <input required type="text"  class="form-control" id="prenom">


                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <hr>
                        <label for="nom" class="form-label">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-icon>perm_identity</mat-icon>
                                </div>
                                <div class="col"><strong>Nom</strong></div>
                            </div>
                        </label>
                        <input required type="text"  class="form-control" id="nom">


                    </div>
                </div>



                <div class="col-md-12">
                    <div class="form-group">
                        <hr>
                        <label for="cin" class="form-label">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-icon>featured_play_list</mat-icon>
                                </div>
                                <div class="col"><strong>CIN</strong></div>
                            </div>
                        </label>
                        <input type="text"  class="form-control" id="cin">


                    </div>
                </div>



                <div class="col-md-12">
                    <div class="form-group">
                        <hr>
                        <label for="email" class="form-label">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-icon>mail</mat-icon>
                                </div>
                                <div class="col"><strong>Email</strong></div>
                            </div>
                        </label>
                        <input type="email" required  class="form-control" id="email">


                    </div>
                </div>



                <div class="col-md-12">
                    <div class="form-group">
                        <hr>
                        <label for="tel" class="form-label">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-icon> local_phone</mat-icon>
                                </div>
                                <div class="col"><strong>Téléphone</strong></div>
                            </div>
                        </label>
                        <input type="text" required  class="form-control" id="tel">


                    </div>
                </div>



             




           
                <hr>


                <div class="col-12">
                    <hr>
                    <button type="submit" id="adh" mat-flat-button style="background-color:#2a4963 ;">Modifier</button>
                </div>















            </div>

        </form>
    </div>




</div>
