<nav class="navbar navbar-expand-lg ">
    <div class="logo" (click)="home()">
      
    </div>

    <div class="logos">
        <div>

            <span><img src="../../assets/images/insta.png" alt=""></span>wala barhoumi<span></span>
        </div>
        <div>

            <span><img src="../../assets/images/fb.png" alt=""></span> https://www.facebook.com/onsismailhajri<span></span>
        </div>
        
  
    </div>

    <div class="conseil">
        <div class="headphone"><mat-icon >headphones</mat-icon><strong> Conseil et vente</strong></div>
        <div class="num">  +216 52 128 001</div>
        <div class="num"> +216 72 286 659</div>
    </div>

    <div class="bt">
        <button mat-raised-button (click)="login()">Login</button>
        <button mat-raised-button (click)="register()">Register</button>
    </div>

</nav>
