<app-navbar-admin></app-navbar-admin>
<div class="container">
    <div class="titre">Client</div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="scoler">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">CIN</th>
                            <th scope="col">email</th>
                            <th scope="col">username</th>
                            <th scope="col">Nom & prénom</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of user">
                            <td>{{u.cin}}</td>
                            <td>{{u.email}}</td>
                            <td>{{u.username}}</td>
                            <td><span>{{u.nom}}</span> <span> {{u.prenom}}</span> </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-6">
            <form class="row g-3" >

                <div class="row" id="con">



                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="username" class="form-label">
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-icon>account_circle</mat-icon>
                                    </div>
                                    <div class="col"><strong>Identifiant</strong></div>
                                </div>
                            </label>
                            <input required type="text" class="form-control" name="username" [(ngModel)]="username">

                        </div>
                    </div>



                    <div class="col-md-12">
                        <div class="form-group">
                            <hr>
                            <label for="pass" class="form-label">
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-icon>https</mat-icon>
                                    </div>
                                    <div class="col"><strong>Mot de passe</strong></div>
                                </div>
                            </label>
                            <input required type="password"  class="form-control" name="pass" [(ngModel)]="pass">



                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <hr>
                            <label for="prenom" class="form-label">
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-icon>perm_identity</mat-icon>
                                    </div>
                                    <div class="col"><strong>Prénom</strong></div>
                                </div>
                            </label>
                            <input required type="text"  class="form-control" name="prenom" [(ngModel)]="prenom">


                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <hr>
                            <label for="nom" class="form-label">
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-icon>perm_identity</mat-icon>
                                    </div>
                                    <div class="col"><strong>Nom</strong></div>
                                </div>
                            </label>
                            <input required type="text"  class="form-control" name="nom" [(ngModel)]="nom">


                        </div>
                    </div>



                    <div class="col-md-12">
                        <div class="form-group">
                            <hr>
                            <label for="cin" class="form-label">
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-icon>featured_play_list</mat-icon>
                                    </div>
                                    <div class="col"><strong>CIN</strong></div>
                                </div>
                            </label>
                            <input type="text" class="form-control" name="cin" [(ngModel)]="cin">


                        </div>
                    </div>



                    <div class="col-md-12">
                        <div class="form-group">
                            <hr>
                            <label for="email" class="form-label">
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-icon>mail</mat-icon>
                                    </div>
                                    <div class="col"><strong>Email</strong></div>
                                </div>
                            </label>
                            <input type="email" required class="form-control" name="email" [(ngModel)]="email">


                        </div>
                    </div>



                    <div class="col-md-12">
                        <div class="form-group">
                            <hr>
                            <label for="tel" class="form-label">
                                <div class="row">
                                    <div class="col-md-2">
                                        <mat-icon> local_phone</mat-icon>
                                    </div>
                                    <div class="col"><strong>Téléphone</strong></div>
                                </div>
                            </label>
                            <input type="text" required  class="form-control" name="tel" [(ngModel)]="tel">


                        </div>
                    </div>



                    <div class="col-md-6">
                        <hr>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1">
                                    <mat-icon>wc</mat-icon>
                                </div>
                                <div class="col-md-4">
                                    <label for="sex" class="form-label"><strong>Genre</strong></label>
                                </div>
                            </div>
                            <select id="sex" required  class="form-control" name="genre" [(ngModel)]="genre">
                                <option value="homme">Homme</option>
                                <option value="femme">Femme</option>
                            </select>


                        </div>

                    </div>




                    <div class="col-md-6">
                        <div class="form-group">
                            <hr>
                            <div class="row">
                                <div class="col-md-1">
                                    <mat-icon>child_care</mat-icon>
                                </div>
                                <div class="col-md-4">
                                    <label for="Nai" class="form-label"><strong>Naissance</strong></label>
                                </div>
                            </div>
                            <input required type="date" class="form-control"  name="nai" [(ngModel)]="nai">


                        </div>
                    </div>
                    <hr>


                    <div class="col-12">
                        <hr>
                        <button (click)="ajout()" type="submit" id="adh" mat-flat-button style="background-color:#2a4963 ;">+ Client</button>
                    </div>















                </div>

            </form>
        </div>
    </div>
</div>
