<nav class="navbar navbar-expand-lg bg-light">
    <div class="ctr">
        <div class="dropdown">
            <span>Canapés</span>
            <div class="dropdown-content" >
                <p *ngFor="let c of cat"><span (click)="clik(c._id)" *ngIf="c.dans==1">{{c.name}}</span></p>
               
            </div>
        </div>
        <div class="dropdown">
            <span>Salle à manger</span>
            <div class="dropdown-content" >
                <p *ngFor="let c of cat"><span (click)="clik(c._id)" *ngIf="c.dans==2">{{c.name}}</span></p>
               
            </div>
        </div>
        <div class="dropdown">
            <span>Chambre à Coucher</span>
            <div class="dropdown-content" >
                <p *ngFor="let c of cat" ><span (click)="clik(c._id)" *ngIf="c.dans==3" >{{c.name}}</span></p>
               
            </div>
        </div>
        <div class="dropdown">
            <span>Bureau</span>
            <div class="dropdown-content" >
                <p *ngFor="let c of cat"><span (click)="clik(c._id)" *ngIf="c.dans==4">{{c.name}}</span></p>
               
            </div>
        </div>
        <div class="dropdown">
            <span>Meubles</span>
            <div class="dropdown-content" >
                <p *ngFor="let c of cat"><span (click)="clik(c._id)" *ngIf="c.dans==5">{{c.name}}</span></p>
               
            </div>
        </div>
    </div>
</nav>