<app-navbar-client></app-navbar-client>
<app-navbar></app-navbar>
<div class="container">
    <div class="titre">Commande</div>
    <hr>
    <form class="row g-3" >
        <div class="row" id="con">

            <div class="col-md-12">
                <div class="form-group">
                    <hr>
                    <label for="email" class="form-label">
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>mail</mat-icon>
                            </div>
                            <div class="col"><strong>Email</strong></div>
                        </div>
                    </label>
                    <input type="email" required  class="form-control" id="email">


                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <hr>
                    <label for="tel" class="form-label">
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon> local_phone</mat-icon>
                            </div>
                            <div class="col"><strong>Téléphone</strong></div>
                        </div>
                    </label>
                    <input type="text" required  class="form-control" id="tel">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <hr>
                    <label for="email" class="form-label">
                        <div class="row">
                            <div class="col-md-2">
                                <mat-icon>pin_drop</mat-icon>
                            </div>
                            <div class="col"><strong>adresse</strong></div>
                        </div>
                    </label>
                    <input type="email" required  class="form-control" id="text">


                </div>
            </div>


        


            <div class="col-12">
                <hr>
                <button type="submit" id="adh" mat-flat-button style="background-color:#2a4963 ;">Commander</button>
            </div>















        </div>

    </form>

</div>