<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid" (click)="home()">
        <div class="logo" >
            <img src="../../assets/images/tunissss.png" alt="">
        </div>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" (click)="cat()">
            <a  >Cataloge</a>
          </li>
          <li class="nav-item">
            <a  (click)="pr()">Produit</a>
          </li>
          <li class="nav-item">
            <a (click)="cl()">Client</a>
          </li>
          <li class="nav-item">
            <a (click)="cm()">Communication</a>
          </li>
        </ul>
        
        <div class="bt">
            <button mat-raised-button (click)="logout()">logout</button>
        </div>
      </div>
    </div>
  </nav>
