<section class="banniere" id="banniere">
    <div class="contenu">
        <h2>New Collection</h2>
        <p>WELCOM.</p>
        <a href="#" class="btn1">Découvrir</a>
    </div>
</section>





<section class="apropos" id="apropos">
    <div class="row">
        <div class="col50">
            <h2 class="titre-texte"><span>à</span> Propos De Nous</h2>
            <p> 
                Our vision is to become a leading name in the global furniture market, known for our commitment to quality, innovation, and sustainability. We aim to bring Tunisian craftsmanship to the world stage, showcasing the rich cultural heritage and contemporary creativity of our artisans.

Our Mission

Quality Craftsmanship: We believe that furniture should be more than just functional; it should be a work of art. Our team of skilled artisans combines traditional techniques with modern technology to create pieces that are both beautiful and durable.

Innovative Design: Our design philosophy merges the timeless elegance of Tunisian aesthetics with the latest trends in global furniture design. Each piece is thoughtfully created to enhance the beauty and functionality of any space.

Sustainability: We are committed to sustainable practices, from sourcing eco-friendly materials to employing production methods that reduce waste and minimize our carbon footprint. Our goal is to create furniture that is not only stylish but also kind to the environment.

Customer Satisfaction: Our customers are at the heart of everything we do. We strive to exceed their expectations through exceptional service, personalized solutions, and a seamless shopping experience.
            </p>
        </div>
        <div class="col50">
            <div class="img">
                <img src="../../assets/images/qui.jpg" alt="image">
            </div>
        </div>
    </div>
</section>


<section class="expert" id="expert">
    <div class="titre">
        <h2 class="titre-texte"><span>C</span>atalogues</h2>
        <p>. </p>
    </div>
    <div class="contenu">
        <div class="box">
            <div class="imbox">
                <img src="../../assets/images/catcat1.jpg" alt="">
            </div>
            <div class="text">
                <h3>table</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="../../assets/images/catcat2.jpg" alt="">
            </div>
            <div class="text">
                <h3> salon</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="../../assets/images/catcat3.jpg" alt="">
            </div>
            <div class="text">
                <h3>bedroom</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="../../assets/images/catcat4.jpg" alt="">
            </div>
            <div class="text">
                <h3>Balançoire Alacati</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="../../assets/images/catcat5.jpg" alt="">
            </div>
            <div class="text">
                <h3>Balançoire Alacati</h3>
            </div>
        </div>
      
    </div>


</section>







<section class="menu" id="menu">
    <div class="titre">
        <h2 class="titre-texte">Nos <span>P</span>roduits</h2>
    </div>
    <div class="contenu">
        <div class="box">
            <div class="imbox">
                <img src="../../assets/images/ons2.jpg" alt="">
            </div>
            <div class="text">
                <h3>BALANCOIRE</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="../../assets/images/ons3.jpg" alt="">
            </div>
            <div class="text">
                <h3>armoire de chaussures</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="../../assets/images/ons4.jpg" alt="">
            </div>
            <div class="text">
                <h3>tv table</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="../../assets/images/cnp1.jpg" alt="">
            </div>
            <div class="text">
                <h3>fauteuil</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="../../assets/images/cnp2.jpg" alt="">
            </div>
            <div class="text">
                <h3>fauteuil en blanc</h3>
            </div>
        </div>
        <div class="box">
            <div class="imbox">
                <img src="../../assets/images/cnp3.jpg" alt="">
            </div>
            <div class="text">
                <h3>fauteuil en vert</h3>
            </div>
        </div>
   

    </div>

    <div class="titre">
        <a href="#" class="btn1">Voir Plus</a>
    </div>
</section>


<section class="contact" id="contact">
    <div class="titre noir">
        <h2 class="titre-text"><span>C</span>ontact</h2>
        <p></p>
    </div>

    <div class="contactform">
        <div class="alert alert-danger" role="alert" *ngIf="err">
            {{err}}
        </div>
        <h3>Envoyer un message</h3>
        <div class="inputboite">
            <input type="text" placeholder="Nom" name="name" [(ngModel)]="name">
        </div>
        <div class="inputboite">
            <input type="text" placeholder="email" name="email" [(ngModel)]="email">
        </div>
        <div class="inputboite">
            <textarea placeholder="message" name="msg" [(ngModel)]="msg"></textarea>
        </div>
        <div class="inputboite">
            <input type="submit" value="envoyer" (click)="envoyer()">
        </div>
    </div>

</section>